/* Global Styles */
:root {
    --primary-color: #003699;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
  }



.container {
    left:auto;
    right:auto;
    display:block;
    

  }

.row {
    align-self: center;
    justify-self: center;
}

li {
    display: flex
}