/* Global Styles */
:root {
    --primary-color: #003699;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
  }

.inrow {
    align-content: center;
    display:flex;    
}

.alertRow {
    justify-content:center;
    display:flex;    
}

.container {
    text-align:center
}

.form-container {
    margin:30px
}

.alert {
    padding: 0.7rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
  }

  .alert-primary {
    background: var(--primary-color);
    color: #fff;
  }
  .alert-danger {
    background: var(--danger-color);
    color: #fff;
  }